on:
  push:
    branches:
      - main

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup

  build:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: VITE_BUILD_SHA=$(git rev-parse --short HEAD) pnpm build-only --base /${{ github.event.repository.name }}/
        env:
          VITE_LOCATIONIQ_API_KEY: ${{ secrets.LOCATIONIQ_API_KEY }}
      - uses: actions/upload-pages-artifact@v4
        with:
          path: dist/

  deploy:
    needs: build
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
